body, input
  font-family: "proxima-nova", Helvetica, Arial, sans-serif
  padding: 0

h1, h2, h3, h4, h5, h6, b
  font-weight: 700
  line-height: 1.2
  margin: 0

a
  color: $appColorLink
  &:hover
    text-decoration: none

#flash
  position: absolute
  top: 0px
  left: 33%
  width: 33%
  text-align: center
  z-index: 1000

/* bootstrap overrides */
.alert
  border-radius: 0px 0px 5px 5px
  font-size: 1.2em
  margin-bottom: 0
  padding-left: 20px
  position: relative
  z-index: 5

.container-fluid
  padding: 0
  float: left
  width: 100%

select
  width: auto

form, ol, ul, label, select
  margin: 0

li
  list-style-type: none
  line-height: 1.2

[class^="icon-"], [class*=" icon-"]
  margin-top: 4px
/* end bootstrap overrides */

nav
  background-color: #282828
  border-bottom: 15px solid $appColor
  ul.side-bar
    margin: 0
    overflow: hidden
    padding: 0
  li
    float: left
    margin: 0
    padding: 0
    text-align: center
    width: 50%
    &.selected
      background-color: $appColor
    a
      color: #fff
      display: block
      font-weight: 700
      font-size: 14px
      padding-top: 75px
      padding-bottom: 20px
      position: relative
      z-index: 2
      &:hover
        color: #fff
        text-decoration: none

.main
  color: #515151

  section, header
    border-bottom: 1px solid #ddd
    padding: 20px

  header
    h1
      font-size: 22px
      margin: 0 0 10px
      span
        color: #949494
        font-weight: normal
    p
      font-size: 16px
      line-height: 1.2
      margin: 0 0 10px

    .app-btn
      display: none
      margin-left: 20px

    &.with-nav
      padding-bottom: 0

  section
    h2
      font-size: 22px
      margin-bottom: 30px
    h3
      font-size: 22px
      margin-bottom: 20px

    &.last, &:last-child
      border-bottom: 0
    &.grey
      background-color: #f7f7f7

.app-btn
  +roundedCornersEqual(6px)
  background-color: $appColor
  border: 0
  color: #fff
  display: inline-block
  font-size: 14px
  padding: 13px 30px
  &.i
    padding-left: 50px
  &.i-right
    padding-left: 35px
    padding-right: 50px
  &:hover
    color: #fff
    text-decoration: none
  &.btn-cancel, &.btn-download, &.btn-delete, &.btn-save
    background-color: #e7e7e7
    color: #777
  &.btn-back
    background-color: #f6f6f6
    color: #c8c8c8

#header-placeholder
  height: 56px
  width: 100%
  background-color: $driftrockHeaderBackgroundColor

.header-nav
  clear: both
  padding-top: 20px
  p, li a
    color: #515151
    display: block
    font-size: 18px
    padding: 10px 5px
    margin-right: 30px
    margin-bottom: 0
    &.current
      border-bottom: 5px solid #ddd
      font-weight: 700

