$navbar_height: 70px
$navBackground: #2d2d2d

$heading_color: #5d5d5d
$text_color: #929292
$background_color: #e6e6e6

$footer_background: #2b2b2b

$button_height: 27px
$button_top_padding: 13px
$button_color: #4da279
$button_hover_color: #5fb089
$button_text: white
$inactive_color: #d3d3d3

$text_box_height: 35px

$heading_color: #5d5d5d
$data_source_height: 47px

$default_font_family: "proxima-nova", Helvetica, Arial, sans-serif

$connector_light: #995ab5
$connector_dark: #73358d

$feedback_light: #155986
$feedback_dark: #094770

$drilldown_light: #d69b33
$drilldown_dark: #c18214

$marketing_light: #27ae61
$marketing_dark: #158a47

$keyword_light: #d9443e
$keyword_dark: #bc2b25

$twitter_light: #7e8c8d
$twitter_dark: #5b6667

$swift_light: #297fb8
$swift_dark: #125b8b

$error_color: #f44647

$appColor: #d14949
$appColorLight: #d75151
$appColorProgressBorder: #ef7171
$appColorDark: #be4141
$appColorLink: #d14949
$driftrockHeaderBackgroundColor: #2d2d2d

=gradient($from, $to, $image, $pos)
  background-color: $from
  background: $image $pos no-repeat, $from
  background: $image $pos no-repeat, -moz-linear-gradient(top, $from 0%, $to 100%)
  background: $image $pos no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to))
  background: $image $pos no-repeat, -webkit-linear-gradient(top, $from 0%,$to 100%)
  background: $image $pos no-repeat, -o-linear-gradient(top, $from 0%,$to 100%)
  background: $image $pos no-repeat, -ms-linear-gradient(top, $from 0%,$to 100%)
  background: $image $pos no-repeat, linear-gradient(to bottom, $from 0%,$to 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 )

=roundedCorners($topL, $topR, $bottomR, $bottomL)
  -webkit-border-top-left-radius: $topL
  -webkit-border-top-right-radius: $topR
  -webkit-border-bottom-right-radius: $bottomR
  -webkit-border-bottom-left-radius: $bottomL
  -moz-border-radius-topleft: $topL
  -moz-border-radius-topright: $topR
  -moz-border-radius-bottomright: $bottomR
  -moz-border-radius-bottomleft: $bottomL
  border-top-left-radius: $topL
  border-top-right-radius: $topR
  border-bottom-right-radius: $bottomR
  border-bottom-left-radius: $bottomL

=roundedCornersEqual($rad)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  border-radius: $rad