#driftrock-header
  position: fixed !important
  width: 100%

#header-placeholder
  position: fixed

nav, .main
  margin-top: 56px

nav
  border-bottom: 0
  border-right: 15px solid $appColor
  height: 100%
  left: 160px
  margin-left: -160px
  overflow: hidden
  position: fixed
  width: 160px
  li
    float: none
    width: auto
    a
      padding-left: 30px
      padding-right: 30px
      font-size: 16px

.main
  margin-left: 175px
  section, header
    padding: 60px 60px 40px 60px

.header-nav
  overflow: hidden
  p, li a
    font-size: 22px
  li
    float: left